@mixin button {
    margin: auto;
    width: 30%;
    height: 30%;
    font-size: 2.5rem;
    border-radius: 5rem;
    box-shadow: none;
    border: none;
    cursor: pointer;
    outline: 0;
    -webkit-transition: ease 0.8s;
    transition: ease 0.8s;
    background-color: cadetblue;
}
@mixin button-hover{
    background-color: chocolate;
    -webkit-transition: ease 0.8s;
    transition: ease 0.8s;
}

@mixin option-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
}

@mixin select-box{
    outline: 0;
    margin-top: 2rem;
    width: 40%;
    height: 2rem;
}

@mixin input-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 50%;
    margin: auto;
}

@mixin  input-box{
    width: 40%;
    height: 20%;
    outline: 0;
    text-align: center;
    font-size: 2rem;
}